.navbar {
  padding: 1rem;
  background-color: #979797;
  color: white;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-gsb {
  margin-right: 1rem;
  font-weight: bold;
}

.navbar-links, .navbar-auth {
  display: flex;
  align-items: center;
}

.link {
  color: rgb(0, 0, 0);
  margin-right: 1rem;
}

.link-btn-logout{
  background-color: none;
}